<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Year End Blowout!</title>
</head>
<body>
	TEST 1
    <div align="center">
        <p style="padding-top: 10px; padding-bottom: 10px; font-family: arial, helvetica, sans-serif;
            font-size: 11px;">
            [EMV INCLUDE]361[EMV /INCLUDE]<br />
            <br />
            To ensure delivery of this newsletter in future mailings, please add news@news.waves-audio.com
            to your contacts book or safe senders list.</p>
    </div>
    <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#012f5d" style="background-color: #012f5d;">
        <tbody>
            <tr>
                <td height="15">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <div align="center" style="background-color: #012f5d;">
                        <table width="652" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; font-size: 0px; background-color: #ffffff;">
                                    <a href="http://www.waves.com/content.aspx?id=351&ref=nl" title="" target="_blank">
                                        <img src="http://www.waves.com/newsletters/december2012/images/final-top.jpg" border="0"
                                            title="Year-End Blowout" alt="Year-End Blowout" />
                                    </a>
                                </td>
                            </tr>
                             <tr>
                                <td style="background-color: #ffffff; height: 30px;" bgcolor="#ffffff">
                                    &nbsp;
                                </td>
                            </tr>
                            <!-- Mercury -->
                            <tr>
                                <td>
                                    <table width="652" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background-color: #ffffff;" >
                                        <tr bgcolor="#ffffff">
                                            <td align="right" width="280" valign="top" bgcolor="#ffffff" style="padding: 0px 0px 10px 0px;
                                                margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                                background-color: #ffffff;">
                                                <a href="http://www.waves.com/content.aspx?id=351&ref=nl#bundles" target="_blank">
                                                    <img src="http://www.waves.com/newsletters/december2012/images/final-mercury.png"
                                                        title="Buy Now Mercury" alt="Buy Now Mercury" border="0" /></a>
                                            </td>
                                            <td align="left" valign="top" bgcolor="#ffffff" style="padding: 20px 0px 10px 40px;
                                                margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                                background-color: #ffffff;">
                                                <table width="300" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td bgcolor="#ffffff" style="padding: 0; margin: 0; line-height: 0; font-size: 0; background-color: #ffffff;">
                                                            <a href="http://www.waves.com/content.aspx?id=351&ref=nl#bundles" title="Buy Now Mercury" target="_blank">
                                                                <img src="http://www.waves.com/newsletters/december2012/images/final-mercury-title.jpg"
                                                                    alt="Buy Now Mercury" border="0" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" width="100%" valign="top" bgcolor="#ffffff" style="padding: 25px 0px 0px 0px;
                                                            margin: 0px 0px 0px 0px; vertical-align: top;">
                                                            <p style="margin: 0; padding: 0; line-height: 20px; color: #000000; font-family: Arial;
                                                            font-size: 16px; background-color: #ffffff; text-align: left;"">
                                                                With over 130 plugins,<br />
                                                                Mercury gives you the world
                                                                <br />
                                                                of Waves in one massive collection,<br />
                                                                now at its lowest price ever.
                                                            </p>
                                                        </td>
                                                    </tr>                                                   
                                                    <tr>
                                                        <td width="100%" style="padding: 15px 0px 0px 0px;">
                                                            <table width="300" border="0" cellspacing="0" cellpadding="0">
                                                                <tr bgcolor="#ffffff">
                                                                    <td valign="bottom" width="80" bgcolor="#ffffff" style="color: #000000; font-size: 14px; 
                                                                        font-family: Arial; line-height: 14px; padding: 0px 0px 3px 0px; text-align: left;">
                                                                        Reg. $6300
                                                                    </td>
                                                                    <td valign="bottom" bgcolor="#ffffff" style="color: #000000; font-size: 27px; 
                                                                        font-family: Arial; line-height: 27px; padding: 0px 0px 0px 5px; text-align: left;">
                                                                        <b>Now $2499</b>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%" valign="top" align="left" bgcolor="#ffffff" style="padding: 20px 0px 0px 0px;">
                                                            <a href="http://register.waves.com/WavesStore/StoreMain.aspx?item=USW379-1362-613" title="Buy Now Mercury" target="_blank">
                                                                <img src="http://www.waves.com/newsletters/december2012/images/final-buy-now.png" 
                                                                alt="Buy Now Mercury" border="0" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: #012f5d; line-height: 10px;" bgcolor="#012f5d">
                                    &nbsp;
                                </td>
                            </tr>
                             <tr>
                                <td style="background-color: #ffffff; height: 30px;" bgcolor="#ffffff">
                                    &nbsp;
                                </td>
                            </tr>
                            <!-- Platinum -->
                            <tr>
                                <td>
                                    <table width="652" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background-color: #ffffff;">
                                        <tr bgcolor="#ffffff">
                                            <td align="right" width="315" valign="top" bgcolor="#ffffff" style="padding: 0px 0px 10px 0px;
                                                margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                                background-color: #ffffff;">
                                                <a href="http://www.waves.com/content.aspx?id=351&ref=nl#bundles" target="_blank">
                                                    <img src="http://www.waves.com/newsletters/december2012/images/final-platinum.png"
                                                        title="Buy Now Platinum" alt="Buy Now Platinum" border="0" /></a>
                                            </td>
                                            <td align="left" valign="top" bgcolor="#ffffff" style="padding: 20px 0px 10px 5px;
                                                margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                                background-color: #ffffff;">
                                                <table width="330" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td bgcolor="#ffffff" style="padding: 0; margin: 0; line-height: 0; font-size: 0; background-color: #ffffff;">
                                                            <a href="http://www.waves.com/content.aspx?id=351&ref=nl#bundles" 
                                                            title="Buy Now Platinum" target="_blank">
                                                                <img src="http://www.waves.com/newsletters/december2012/images/final-platinum-title.jpg"
                                                                    alt="Buy Now Platinum" border="0" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" width="100%" valign="top" bgcolor="#ffffff" style="padding: 25px 0px 0px 0px;
                                                            margin: 0px 0px 0px 0px; vertical-align: top;">
                                                            <p style="margin: 0; padding: 0; line-height: 20px; color: #000000; font-family: Arial;
                                                            font-size: 16px; background-color: #ffffff; text-align: left;"">
                                                                From dynamics, equalization, and <br /> 
                                                                reverb to pitch correction, spatial <br />
                                                                imaging, and beyond, Platinum is an <br />
                                                                extraordinary collection of over 40 <br />
                                                                signal processing tools.
                                                            </p>
                                                        </td>
                                                    </tr>                                                   
                                                    <tr>
                                                        <td width="100%" style="padding: 15px 0px 0px 0px;">
                                                            <table width="330" border="0" cellspacing="0" cellpadding="0">
                                                                <tr bgcolor="#ffffff">
                                                                    <td valign="bottom" width="80" bgcolor="#ffffff" style="color: #000000; font-size: 14px; 
                                                                        font-family: Arial; line-height: 14px; padding: 0px 0px 3px 0px; text-align: left;">
                                                                        Reg. $1600
                                                                    </td>
                                                                    <td valign="bottom" bgcolor="#ffffff" style="color: #000000; font-size: 27px; 
                                                                        font-family: Arial; line-height: 27px; padding: 0px 0px 0px 5px; text-align: left;">
                                                                        <b>Now $699</b>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%" valign="top" align="left" bgcolor="#ffffff" style="padding: 20px 0px 0px 0px;">
                                                            <a href="http://register.waves.com/WavesStore/StoreMain.aspx?item=USW379-1362-515" title="Buy Now Platinum" target="_blank">
                                                                <img src="http://www.waves.com/newsletters/december2012/images/final-buy-now.png" 
                                                                alt="Buy Now Platinum" border="0" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: #012f5d; line-height: 10px;" bgcolor="#012f5d">
                                    &nbsp;
                                </td>
                            </tr>
                             <tr>
                                <td style="background-color: #ffffff; height: 30px;" bgcolor="#ffffff">
                                    &nbsp;
                                </td>
                            </tr>
                            <!-- Gold -->
                            <tr>
                                <td>
                                    <table width="652" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background-color: #ffffff;">
                                        <tr bgcolor="#ffffff">
                                           <td align="right" width="315" valign="top" bgcolor="#ffffff" style="padding: 0px 0px 10px 0px;
                                                margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                                background-color: #ffffff;">
                                                <a href="http://www.waves.com/content.aspx?id=351&ref=nl" target="_blank">
                                                    <img src="http://www.waves.com/newsletters/december2012/images/final-gold.png"
                                                        title="Buy Now Gold" alt="Buy Now Gold" border="0" /></a>
                                            </td>
                                            <td align="left" valign="top" bgcolor="#ffffff" style="padding: 20px 0px 10px 5px;
                                                margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                                background-color: #ffffff;">
                                                <table width="330" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td bgcolor="#ffffff" style="padding: 0; margin: 0; line-height: 0; font-size: 0; background-color: #ffffff;">
                                                            <a href="http://www.waves.com/content.aspx?id=351&ref=nl" title="Buy Now Gold" target="_blank">
                                                                <img src="http://www.waves.com/newsletters/december2012/images/final-gold-title.jpg"
                                                                    alt="Buy Now Gold" border="0" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" width="100%" valign="top" bgcolor="#ffffff" style="padding: 25px 0px 0px 0px;
                                                            margin: 0px 0px 0px 0px; vertical-align: top;">
                                                            <p style="margin: 0; padding: 0; line-height: 20px; color: #000000; font-family: Arial;
                                                            font-size: 16px; background-color: #ffffff; text-align: left;"">
                                                                Our most popular bundle, with over 30 <br />
                                                                plugins, Waves Gold brings a wealth <br />
                                                                of signal processing power to your <br />
                                                                studio, geared toward tracking, mixing,<br />
                                                                and mastering.
                                                            </p>
                                                        </td>
                                                    </tr>                                                   
                                                    <tr>
                                                        <td width="100%" style="padding: 15px 0px 0px 0px;">
                                                            <table width="330" border="0" cellspacing="0" cellpadding="0">
                                                                <tr bgcolor="#ffffff">
                                                                    <td valign="bottom" width="80" bgcolor="#ffffff" style="color: #000000; font-size: 14px; 
                                                                        font-family: Arial; line-height: 14px; padding: 0px 0px 3px 0px; text-align: left;">
                                                                        Reg. $800
                                                                    </td>
                                                                    <td valign="bottom" bgcolor="#ffffff" style="color: #000000; font-size: 27px; 
                                                                        font-family: Arial; line-height: 27px; padding: 0px 0px 0px 5px; text-align: left;">
                                                                        <b>Now $399</b>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%" valign="top" align="left" bgcolor="#ffffff" style="padding: 20px 0px 0px 0px;">
                                                            <a href="http://register.waves.com/WavesStore/StoreMain.aspx?item=USW379-1362-502" title="Buy Now Gold" target="_blank">
                                                                <img src="http://www.waves.com/newsletters/december2012/images/final-buy-now.png" 
                                                                alt="Buy Now Gold" border="0" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>      
                             <tr>
                                <td style="background-color: #012f5d; line-height: 10px;" bgcolor="#012f5d">
                                    &nbsp;
                                </td>
                            </tr>   
                             <tr>
                                <td style="background-color: #ffffff; height: 30px;" bgcolor="#ffffff">
                                    &nbsp;
                                </td>
                            </tr>
                            <!-- API -->
                            <tr>
                                <td>
                                    <table width="652" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background-color: #ffffff;">
                                        <tr bgcolor="#ffffff">
                                            <td align="center" width="315" valign="top" bgcolor="#ffffff" style="padding: 0px 0px 0px 0px;
                                                margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                                background-color: #ffffff;">
                                                <a href="http://www.waves.com/content.aspx?id=351&ref=nl" target="_blank">
                                                    <img src="http://www.waves.com/newsletters/december2012/images/final-api.png"
                                                        title="Buy Now API" alt="Buy Now API" border="0" /></a>
                                            </td>
                                            <td align="left" valign="top" bgcolor="#ffffff" style="padding: 5px 0px 0px 5px;
                                                margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                                background-color: #ffffff;">
                                                <table width="330" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td bgcolor="#ffffff" style="padding: 0; margin: 0; line-height: 0; font-size: 0; background-color: #ffffff;">
                                                            <a href="http://www.waves.com/content.aspx?id=351&ref=nl" title="Buy Now API" target="_blank">
                                                                <img src="http://www.waves.com/newsletters/december2012/images/final-api-title.jpg"
                                                                    alt="Buy Now API" border="0" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" width="100%" valign="top" bgcolor="#ffffff" style="padding: 25px 0px 0px 0px;
                                                            margin: 0px 0px 0px 0px; vertical-align: top;">
                                                            <p style="margin: 0; padding: 0; line-height: 20px; color: #000000; font-family: Arial;
                                                            font-size: 16px; background-color: #ffffff; text-align: left;"">
                                                                The API Collection features 4 precision <br />
                                                                plugins based on renowned API <br />
                                                                modules: API 550A 3-Band EQ, API <br />
                                                                550B 4-Band EQ, API 560 Graphic EQ,<br />
                                                                and API 2500 Stereo Compressor.
                                                            </p>
                                                        </td>
                                                    </tr>                                                   
                                                    <tr>
                                                        <td width="100%" style="padding: 15px 0px 0px 0px;">
                                                            <table width="330" border="0" cellspacing="0" cellpadding="0">
                                                                <tr bgcolor="#ffffff">
                                                                    <td valign="bottom" width="80" bgcolor="#ffffff" style="color: #000000; font-size: 14px; 
                                                                        font-family: Arial; line-height: 14px; padding: 0px 0px 3px 0px; text-align: left;">
                                                                        Reg. $650
                                                                    </td>
                                                                    <td valign="bottom" bgcolor="#ffffff" style="color: #000000; font-size: 27px; 
                                                                        font-family: Arial; line-height: 27px; padding: 0px 0px 0px 5px; text-align: left;">
                                                                        <b>Now $249</b>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%" valign="top" align="left" bgcolor="#ffffff" style="padding: 20px 0px 0px 0px;">
                                                            <a href="http://register.waves.com/WavesStore/StoreMain.aspx?item=USW379-1362-622" title="Buy Now API" target="_blank">
                                                                <img src="http://www.waves.com/newsletters/december2012/images/final-buy-now.png" 
                                                                alt="Buy Now API" border="0" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>  
                             <tr>
                                <td style="background-color: #012f5d; line-height: 10px;" bgcolor="#012f5d">
                                    &nbsp;
                                </td>
                            </tr>  
                            <!-- $9 Plugins --> 
                            <tr>
                                <td align="center" width="652" valign="top" bgcolor="#ffffff" style="padding: 0px 0px 0px 0px;
                                    margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                    background-color: #ffffff;">
                                    <a href="http://www.waves.com/lp/yearend/yearend.html?ref=nl" target="_blank" title="Buy Now $9 plugins">
                                        <img src="http://www.waves.com/newsletters/december2012/images/final-9plugins.jpg" alt="Buy Now $9 plugins" border="0" />
                                    </a>
                                </td>
                            </tr> 
                             <tr>
                                <td style="background-color: #012f5d; line-height: 10px;" bgcolor="#012f5d">
                                    &nbsp;
                                </td>
                            </tr> 
                            <!-- $79 Plugins -->   
                            <tr>
                                <td align="center" width="652" valign="top" bgcolor="#ffffff" style="padding: 0px 0px 0px 0px;
                                    margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                    background-color: #ffffff;">
                                    <a href="http://www.waves.com/content.aspx?id=351&ref=nl#plugins" target="_blank" title="Buy Now $79 plugins">
                                        <img src="http://www.waves.com/newsletters/december2012/images/final-79plugins.jpg" alt="Buy Now $79 plugins" border="0" />
                                    </a>
                                </td>
                            </tr>
                            <!-- See more specials -->
                            <tr>
                                <td align="center" width="652" valign="top" bgcolor="#ffffff" style="padding: 0px 0px 20px 0px;
                                    margin: 0px 0px 0px 0px; vertical-align: top; font-size: 0px; line-height: 0;
                                    background-color: #ffffff;">
                                    <a href="http://www.waves.com/content.aspx?id=351&ref=nl" target="_blank" title="See More Specials">
                                        <img src="http://www.waves.com/newsletters/december2012/images/final-see-more.jpg" alt="See More Specials" border="0" />
                                    </a>
                                </td>
                            </tr>                     
                           <tr>
                                <td style="background-color: #012f5d; line-height: 15px;" bgcolor="#012f5d">
                                    &nbsp;
                                </td>
                            </tr> 
                            <tr>
                                <td align="center" style="background-color: #012f5d;">
                                    <table align="center" style="text-align: center;" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td width="5">
                                                &nbsp;
                                            </td>
                                            <td width="24px" valign="top">
                                                <a href="http://www.facebook.com/iwaves" target="_blank" title="facebook">
                                                    <img src="http://www.waves.com/newsletters/november11/images/facebook.png" alt="facebook"
                                                        title="facebook" border="0" /></a>
                                            </td>
                                            <td width="10">
                                                &nbsp;
                                            </td>
                                            <td width="24px" valign="top">
                                                <a href="http://www.twitter.com/WavesAudioLtd" target="_blank" title="twitter">
                                                    <img src="http://www.waves.com/newsletters/november11/images/twitter.png" alt="twitter"
                                                        title="twitter" border="0" /></a>
                                            </td>
                                            <td width="10">
                                                &nbsp;
                                            </td>
                                            <td width="24px" valign="top">
                                                <a href="http://www.youtube.com/user/danielwaves" target="_blank" title="youtube">
                                                    <img src="http://www.waves.com/newsletters/november11/images/youtube.png" alt="youtube"
                                                        title="youtube" border="0" /></a>
                                            </td>
                                            <td width="10">
                                                &nbsp;
                                            </td>
                                            <td width="24px" valign="top">
                                                <a href="http://www.linkedin.com/company/16901?trk=tyah" target="_blank" title="linkedin">
                                                    <img src="http://www.waves.com/newsletters/july11/images/linkedin-l.png" alt="linkedin"
                                                        title="linkedin" border="0" /></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="20px">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div align="center">
        <p style="padding-top: 20px; padding-bottom: 20px; font-family: arial, helvetica, sans-serif;
            font-size: 11px;">
            To remove yourself from this mailing list please [EMV INCLUDE]362[EMV /INCLUDE]<br />
            <br />
            Please do not reply to this email, as this mailbox will not accept incoming mail.<br />
            For customer service and sales, call 1-865-909-9200 or <a href="http://www.waves.com/content.aspx?id=360"
                title="contact us" target="_blank">contact us by email</a>.<br />
            <br />
            Waves Inc. | 2800 Merchants Drive | Knoxville, TN 37912 | Phone: 1-865-909-9200
            | Fax: 1-865-909-9245
            <br />
            <br />
            Copyright&copy; 2012 Waves Audio Ltd. All rights reserved.</p>
    </div>
</body>
</html>
